.bn13text {font-family:Arial, Helvetica, sans-serif; vertical-align:middle; font-size:13px; color:#000000; font-weight:normal}
/*Black Normal 13 Text*/
.bn12text {font-family:Arial, Helvetica, sans-serif; vertical-align:middle; font-size:12px; color:#000000; font-weight:normal}
/*Black Normal 12 Text*/
.rn12text {font-family:Arial, Helvetica, sans-serif; vertical-align:middle; font-size:12px; color:#FF0000; font-weight:normal}
/*Red Normal 12 Text*/